/*TYPE SELECTORS*/

*{
    box-sizing: border-box;
}


body{
    background-color: #ffffc4;
    font-family: sans-serif;
}

h1{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
    
}

h2{
    font-size: 30px;
}

h1,h2{
    font-family: Impact, serif;
    color: #000000;
}

p,li{
    font-size: 18px;
    text-align: justify;
}

img{
    display: block;
    margin: 0 auto;
    width: 550px;
    height: 450px;
}


/*CLASS SELECTORS*/

.recipe{
    width: 80%;
    background-color: #ffa07a;
    margin: 0 auto;
    padding: 20px;
}

.recipe-slogan{
    font-size: 14px;
    text-align: center;
}


